<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aib.dietwatch" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity_"
            android:label="DietWatch" >
        </activity>
        <activity
            android:name=".MenuActivity_"
            android:label="DietWatch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity_"
            android:label="DietWatch" >
        </activity>
        <activity
            android:name=".SignupActivity_"
            android:label="DietWatch" >
        </activity>
        <activity
            android:name=".DietActivity_"
            android:label="DietWatch" >
        </activity>
        <activity
            android:name=".RegisterOtherDataActivity_"
            android:label="DietWatch" >
        </activity>
        <activity
            android:name=".ProfileActivity_"
            android:label="DietWatch" >
        </activity>
        <activity
            android:name=".NewProductActivity_"
            android:label="DietWatch" >
        </activity>


    </application>

</manifest>
